[core]
  editor = 'vim'
  autoCRLF = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = LobsterTeN
  email = 54630690+LobsterTeN@users.noreply.github.com
[alias]
  st = status
  cmt = commit
  ps = push
  pl = pull
